﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    margin: 20px 40px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
.backk th{
    background-color: red;
}

h1	{
	margin-top: 1em;
	margin-bottom: 25px;
	color: #000;
	font-weight: bold;
	font-size: 30px;
	border-bottom: 5px solid #919699;
}
h2	{
	margin-top: 2.5em;
	font-size: 24px;
	color: #000;
	padding-bottom: 2px;
	border-bottom: 3px solid #919699;
}
h3	{
	margin-top: 2em;
	margin-bottom: .5em;
	font-size: 17px;
	color: #000;
}
h4	{
	margin-top: 2em;
	margin-bottom: .5em;
	font-size: 15px;
	color: #000;
}
h5	{
	margin-top: 20px;
	margin-bottom: .5em;
	padding: 0;
	font-size: 13px;
	color: #000;
}

h6	{
	margin-top: 20px;
	margin-bottom: .5em;
	padding: 0;
	font-size: 11px;
	color: #000;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 17px;
    padding: 0px 10px 0px 10px;
}

ul	{
	list-style: square outside;
	margin: 0 0 0 30px;
	padding: 0 0 12px 6px;
	font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
}

li	{
	margin-top: 7px;
	font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
}
	        
ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0 0 0 30px;
	padding: 0 0 12px 6px;
}
	
ol ol {
	list-style-type: lower-alpha;
    list-style-position: outside;
	margin: 7px 0 0 30px;
	padding: 0 0 0 10px;
        font-size: 17px;
    }

ul ul {
	margin-left: 40px;
	padding: 0 0 0 6px;
        font-size: 17px;
}

li>p { display: inline }
li>p+p { display: block }
li>a+p { display: block }


/* table */

table {
	border-top: 1px solid #919699;
	border-left: 1px solid #919699;
	border-spacing: 0;
}
	
table th {
	padding: 4px 8px 4px 8px;
	background: #E2E2E2;
	font-size: 12px;
	border-bottom: 1px solid #919699;
	border-right: 1px solid #919699;
}
table th p {
	font-weight: bold;
	margin-bottom: 0px;
}
	
table td {
	padding: 8px;
	font-size: 12px;
	vertical-align: top;
	border-bottom: 1px solid #919699;
	border-right: 1px solid #919699;
}
table td p {
	margin-bottom: 0px;
}
table td p + p  {
	margin-top: 5px;
}
table td p + p + p {
	margin-top: 5px;
}

/* forms */

form {
	margin: 0;
}

button {
	margin: 3px 0 10px 0;
}
input {
	vertical-align: middle;
	padding: 0;
	margin: 0 0 5px 0;
}

select {
	vertical-align: middle;
	padding: 0;
	margin: 0 0 3px 0;
}

textarea {
	margin: 0 0 10px 0;
	width: 100%;
}

img {
    width:  60%;
    display: block;
    margin: auto;
}